---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Recommended from "../components/Recommended.astro";
import FeaturedIncome from "../components/FeaturedIncome.astro";
import Faqs from "../components/Faqs.astro";
import Footer from "../components/Footer.astro";
import TabBar from "../components/TabBar.astro";
import Header from "../components/Header.astro";
---

<Layout title="ExploreHub">
  <main>
    <Header />
    <Home />
    <Recommended />
    <FeaturedIncome />
    <Faqs />
    <Footer />
    <TabBar />
  </main>
</Layout>
