<div class="w-full h-96 bg-miami bg-cover rounded-xl mb-8">
  <p class="text-3xl px-8 pt-8 pb-2 font-semibold text-white">Miami</p>
  <p class="text-sm pl-8 text-white mr-24 lg:text-lg">3 habitaciones, 2 baños, cocina y una hermosa vista al mar</p>
</div>
