<div class="w-full h-96 bg-LA bg-cover rounded-xl lg:h-auto mb-8">
  <p class="text-3xl px-8 pt-8 pb-2 font-semibold text-white">Los Angeles</p>
  <p class="text-sm pl-8 text-white mr-24 lg:text-lg">4 habitaciones, 3 baños, cocina y psicina privada</p>
</div>
