---
import seattle from '../../public/img/seattle.jpg'
---

<div class="w-48 h-64 shadow-md rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl">
  <div class="w-full h-3/5 rounded-t-lg bg-cover">
    <img class="w-full h-full rounded-t-lg bg-cover" src={seattle.src} alt="seattle image">
  </div>
  <div class="w-full h-2/5 bg-white rounded-b-lg dark:bg-gray-800">
    <p class="text-terciary text-bold text-xl px-4 py-2 dark:text-white">Seattle</p>
    <p class="text-terciary text-md px-4 dark:text-white">Gran ciudad</p>
  </div>
</div>
