---
import yosemite from '../../public/img/yosemite.jpg'
---

<div class="w-48 h-64 shadow-md rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl">
  <div class="w-full h-3/5 rounded-t-lg bg-cover">
    <img class="w-full h-full rounded-t-lg bg-cover" src={yosemite.src} alt="yosemite image">
  </div>
  <div class="w-full h-2/5 bg-secondary rounded-b-lg dark:bg-gray-700">
    <p class="text-white text-bold text-xl px-4 py-2">Yosemite</p>
    <p class="text-white text-md px-4">Un descanso del mundo</p>
  </div>
</div>
