<div class="w-48 h-64 shadow-md rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl">
  <div class="w-full h-3/5 rounded-t-lg bg-seattle bg-cover"></div>
  <div class="w-full h-2/5 bg-white rounded-b-lg">
    <p class="text-terciary text-bold text-xl px-4 py-2">Seattle</p>
    <p class="text-terciary text-md px-4">Gran ciudad</p>
  </div>
</div>
