<div id="faqs" class="w-full h-full">
  <div class="w-full h-full px-6 flex flex-col space-y-4">
    <p class="text-3xl text-primary font-semibold mt-6 dark:text-white">FAQS</p>
    <div>
      <p class="text-xl font-medium text-primary dark:text-white">Política de Cancelación</p>
      <p class="text-medium pt-2 dark:text-white">
        Para estancias menores a una semana es importante avisar con 3 días de
        anticipación, de caso contario será sancionado.
      </p>
    </div>
    <div>
      <p class="text-xl font-medium text-primary dark:text-white">Métodos de pago</p>
      <p class="text-medium pt-2 dark:text-white">
        Aceptamos distintos métodos de pago: VISA, MasterCard, American Express,
        Paypal y Binance.
      </p>
    </div>
    <div>
      <p class="text-xl font-medium text-primary dark:text-white">Mascotas</p>
      <p class="text-medium pt-2 dark:text-white">
        El tema de las mascotas dependerá directamente del anfitrión.
      </p>
    </div>
    <div>
      <p class="text-xl font-medium text-primary dark:text-white">Información de Seguridad</p>
      <p class="text-medium pt- dark:text-white">
        Todas nuestras estancias cuentan con seguro en caso de accidentes.
      </p>
    </div>
    <div>
      <p class="text-xl font-medium text-primary dark:text-white">Estancias Largas</p>
      <p class="text-medium pt-2 pb-4 dark:text-white">
        Contamos con estancias de hasta 3 meses, en este caso es requerido un
        anticipo con un monto dedl 50% del valor de la renta
      </p>
    </div>
  </div>
</div>
