---
import CardNor from "./CardNor.astro";
import CardNyc from "./CardNyc.astro";
import CardYos from "./CardYos.astro";
import CardSeat from "./CardSeat.astro";
---

<section id="recomendados" class="w-full h-auto">
  <p class="text-3xl font-semibold text-primary dark:text-white pl-6 pt-6">Recomendados</p>
  <div class="w-auto h-72 items-center mt-6 p-6 overflow-x-auto overscroll-x-contain flex space-x-6 overflow-y-hidden lg:overflow-hidden">
    <CardNor />
    <CardNyc />
    <CardYos />
    <CardSeat />
    <CardNor />
    <CardNyc />
    <CardYos />
    <CardSeat />
    <CardNor />
    <CardNyc />
    <CardYos />
    <CardSeat />
  </div>
</section>
